.container{
    padding: 100px 15px;
    margin: 0 auto;
}

.h1 {
    margin: 40px auto;
    margin-bottom: 40px;

        text-align: center;

}

.h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 40px auto;
    margin-bottom: 40px;

        text-align: center;

}
